* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

a:hover {
    text-decoration: none;
}


/* navbar */

.navbar-top {
    position: fixed;
    padding-top: 10px;
    z-index: 999;
    width: 100%;
    top: 0;
}

.inner-width {
    margin: 0 50px;
    padding: 0 40px;
}

.navbar-top .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    font-size: 50px;
}

.logo span {
    color: #f5bf0c;
}

.menu-toggler {
    background: none;
    border: none;
    outline: none;
    width: 30px;
    position: relative;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-top a {
    color: #fff;
}

.navbar-menu a {
    font-weight: 700;
    font-size: 20px;
    margin-left: 25px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #f5bf0c;
    padding-bottom: 2px;
    border-bottom: 2px solid #f5bf0c;
}

.sticky {
    background-color: #0084d1;
    padding: 0px 0;
    transition: .3s;
}


/* end navbar */


/* about us head */

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 140px;
}

.aboutus-head {
    background-image: url("https://bit.ly/3vn0DaX");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutus-head-text {
    text-align: center;
    padding-bottom: 40px;
}

.aboutus-head-text p {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}


/* end about us head */


/* about us content */


/* about us text */

.about-col {
    padding: 20px;
}

.about-text-col {
    width: 60%;
}

.aboutus-content {
    padding: 80px 0px 20px;
}

.aboutus-content-head {
    text-align: center;
}

.aboutus-content-head p {
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

.aboutus-content-body p {
    color: #606060;
}


/* end about us text */


/* about us image */

.about-image-col {
    width: 40%;
    padding-top: 20px;
}

img {
    width: 100%;
}


/* end about us image */


/* end about us content */


/* footer */

footer a {
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    display: block;
}

footer a:hover {
    color: #fff;
    padding-left: 14px;
    transition: .2s;
    font-size: 15px;
    font-weight: 400;
}

footer {
    background: #0084d1;
    color: #fff;
}

footer i {
    padding-right: 10px;
}

.footer-col h3 {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 600;
}

.inner-footer {
    margin: 80px 80px 0;
}

.footer-col {
    width: 33.33%;
    padding: 20px;
}

.footer-about {
    padding-right: 70px;
}

.footer-about p {
    font-size: 15px;
}

.credits {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

.credits p {
    margin-bottom: 0;
    padding-bottom: 10px;
}


/* end footer */


/* resposive */

@media screen and (max-width: 1100px) {
    /* navbar */
    .logo {
        font-size: 40px;
    }
    .navbar-menu a {
        margin-left: 20px;
    }
}

@media screen and (max-width: 980px) {
    /* navbar */
    .inner-width {
        margin: 0 20px;
        padding: 0 20px;
    }
    .menu-toggler {
        display: block;
        z-index: 999;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 70%;
        background-color: #0084d1;
        top: 0;
        right: -100%;
        padding: 90px 20px;
        transition: .3s linear;
        z-index: 998;
    }
    .sticky .navbar-menu {
        background-color: #05cc80;
    }
    .navbar-menu a {
        color: #fff;
        display: block;
        font-size: 20px;
        margin: 30px 0;
    }
    .navbar-menu a:hover {
        border: none;
    }
    .navbar-menu.active {
        right: 0;
    }
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    /* end navbar */
    /* footer */
    .footer-col {
        width: 100%;
    }
    .inner-footer {
        margin: 40px 30px 0;
    }
    .footer-col h3 {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    /* end footer */
}