* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("https://bit.ly/3vn0DaX");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* navbar */

.navbar-top {
    position: fixed;
    background-color: #0084d1;
    padding-top: 0px;
    z-index: 999;
    width: 100%;
    top: 0;
}

.inner-width {
    margin: 0 50px;
    padding: 0 40px;
}

.navbar-top .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    font-size: 50px;
}

.logo span {
    color: #f5bf0c;
}

.menu-toggler {
    background: none;
    border: none;
    outline: none;
    width: 30px;
    position: relative;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-top a {
    color: #fff;
}

.navbar-menu a {
    font-weight: 700;
    font-size: 20px;
    margin-left: 25px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #f5bf0c;
    padding-bottom: 2px;
    border-bottom: 2px solid #f5bf0c;
}

.sticky {
    background-color: #0084d1;
    padding: 0px 0;
    transition: .3s;
}

.container {
    margin-right: 0;
}


/* end navbar */

.image-col {
    margin-left: 0;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.form-col {
    height: 100vh;
    background-color: #fff;
    width: 50%;
    padding-top: 100px;
    text-align: center;
}

.form-name {
    text-align: center;
}

.form-name p {
    font-size: 32px;
    font-weight: 700;
    color: #404040;
}

label i {
    padding-right: 10px;
    color: #595959;
    font-size: 18px;
}

input {
    border: none;
    border-bottom: 1px solid #808080;
    margin-bottom: 16px;
    width: 70%;
    outline: none;
    padding: 10px 0;
}

input:focus {
    border-bottom: 2px solid #05cc80;
    transition: .2s;
}

.form-btn {
    background-color: #05cc80;
    border: none;
    color: #fff;
    padding: 9px;
    width: 150px;
    border-radius: 99px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-btn:hover {
    background-color: #00ac6a;
    transition: .3s;
}

.login-link {
    text-decoration: underline;
    font-size: 15px;
}

.login-link:hover {
    text-decoration: underline;
}


/* end form */


/* footer */

footer a {
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    display: block;
}

footer a:hover {
    color: #fff;
    padding-left: 14px;
    transition: .2s;
    font-size: 15px;
    font-weight: 400;
}

footer {
    background: #0084d1;
    color: #fff;
}

footer i {
    padding-right: 10px;
}

.footer-col h3 {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 600;
}

.inner-footer {
    margin: 80px 80px 0;
}

.footer-col {
    width: 33.33%;
    padding: 20px;
}

.footer-about {
    padding-right: 70px;
}

.footer-about p {
    font-size: 15px;
}

.credits {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

.credits p {
    margin-bottom: 0;
    padding-bottom: 10px;
}


/* end footer */


/* resposive */

@media screen and (max-width: 1100px) {
    /* navbar */
    .logo {
        font-size: 40px;
    }
    .navbar-menu a {
        margin-left: 20px;
    }
}

@media screen and (max-width: 980px) {
    /* navbar */
    .inner-width {
        margin: 0 20px;
        padding: 0 20px;
    }
    .menu-toggler {
        display: block;
        z-index: 999;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 70%;
        background-color: #0084d1;
        top: 0;
        right: -100%;
        padding: 90px 20px;
        transition: .3s linear;
        z-index: 998;
    }
    .sticky .navbar-menu {
        background-color: #05cc80;
    }
    .navbar-menu a {
        color: #fff;
        display: block;
        font-size: 20px;
        margin: 30px 0;
    }
    .navbar-menu a:hover {
        border: none;
    }
    .navbar-menu.active {
        right: 0;
    }
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    /* end navbar */
    /* form */
    .form-name {
        margin-bottom: 80px;
    }
    .form-name p {
        color: #fff;
    }
    .container {
        all: initial;
    }
    .row {
        width: 95%;
        margin: auto;
    }
    .image-col {
        display: none;
    }
    .form-col {
        background: transparent;
        width: 100%;
        margin: auto;
        height: 100vh;
        padding: 30px 0;
        margin-top: 70px;
        border-radius: 10px;
    }
    input {
        background: none;
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    input::placeholder {
        color: #ccc;
    }
    label i {
        color: #fff;
    }
    .login-link {
        text-decoration: underline;
        font-size: 12px;
        margin-bottom: 200px;
    }
    /* footer */
    .footer-col {
        width: 100%;
    }
    .inner-footer {
        margin: 40px 30px 0;
    }
    .footer-col h3 {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    /* end footer */
}