* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

a:hover {
    text-decoration: none;
}

.top-image {
    background-image: url("https://bit.ly/3vn0DaX");
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}


/* navbar */

.navbar-top {
    position: fixed;
    padding-top: 20px;
    z-index: 999;
    width: 100%;
    top: 0;
}

.inner-width {
    margin: 0 50px;
    padding: 0 40px;
}

.navbar-top .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    font-size: 50px;
}

.logo span {
    color: #f5bf0c;
}

.menu-toggler {
    background: none;
    border: none;
    outline: none;
    width: 30px;
    position: relative;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-top a {
    color: #fff;
}

.navbar-menu a {
    font-weight: 700;
    font-size: 20px;
    margin-left: 25px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #f5bf0c;
    padding-bottom: 2px;
    border-bottom: 2px solid #f5bf0c;
}

.sticky {
    background-color: #0084d1;
    padding: 0px 0;
    transition: .3s;
}


/* top-container */


/* end navbar */

.content {
    margin: 0px 100px;
    padding-top: 150px;
}


/* search */

.align-items-center {
    width: 85%;
    margin: auto;
}

.search-col {
    width: 90%;
    padding: 0;
}

.search-btn-col {
    width: 10%;
    padding: 0;
}

input:focus {
    outline: #ccfa00;
    border: #ccfa00;
    outline: none;
}

.form-control {
    height: 46px;
}

#search-store {
    border-radius: .25rem 0 0 .25rem;
    width: 100%;
    outline: none;
}

.search-btn {
    background: #05cc80;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
}

.search-btn-col a {
    font-weight: 700;
    font-size: 20px;
    padding: 0 10px;
    color: #fff;
}


/* end search */


/* categories */

.navbar {
    background: none!important;
    display: flex;
    justify-content: space-around!important;
}

.navbar-brand {
    font-size: 23px;
    font-weight: 700;
}

.navbar-nav {
    display: flex!important;
    justify-content: space-between!important;
    padding-left: 10px;
}

.navbar-nav li {
    padding-right: 15px;
    color: #fff!important;
}

.nav-link {
    color: #fff!important;
    font-size: 17px;
    text-shadow: #000;
}

.dropdown:hover .nav-link {
    color: #ccfa00!important;
}


/*end categories */


/* kitchen slider */

.kitchen-top {
    text-align: center;
    padding: 0 0 50px;
}

.kitchen-top p {
    font-weight: 700;
    font-size: 38px;
}

.kitchen {
    margin: 100px 80px;
}

.swiper-container {
    width: 100%;
    height: auto;
    border-radius: 0 5px 5px 0;
}

.swiper-slide {
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #999999;
    text-align: center!important;
    font-size: 18px;
    text-align: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    border-radius: 50%;
    text-align: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.slide-1 {
    background-color: #fff;
    width: 100px;
    padding-left: 70px;
}

.slide-1 p {
    font-size: 20 px;
    margin-top: 15px;
    margin-bottom: 0;
}

.slide-1 p:nth-child(1) {
    font-weight: 700;
    margin-top: 65px;
}

.slider-text {
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0;
}

.slider-text p:nth-child(1) {
    font-weight: 700;
    font-size: 20px;
}

.slider-text p:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
}

.slider-text-col {
    width: 80%;
    padding: 195px 10px 0;
}

.slider-text-col i {
    padding-right: 5px;
    color: #54e346;
}

.slider-rating-col {
    width: 20%;
    background-color: #fdb827;
    margin: 200px 0 0;
    border-radius: 4px;
    padding-top: 10px;
}

.slider-text p {
    margin-bottom: 0;
}

.slider-name {
    font-size: 27px;
    font-weight: 800;
}

.slider-price {
    font-size: 17px;
    font-weight: 600;
}

.cart {
    color: #05cc80;
    padding-bottom: 20px;
    font-size: 15px;
}

.cart:hover {
    color: #05cc80;
    font-size: 16px;
    transition: .2s;
}

.swiper-button-next {
    right: 0px;
}

.swiper-button-prev {
    left: 0;
}


/* end kitchen slider */


/* types of food */

.types {
    margin: 100px;
}

.types-col {
    width: 50%;
    margin: auto;
    padding: 20px;
}

.types-col img {
    width: 100%;
}


/* end types of food */


/* app section */

.app {
    text-align: center;
    box-shadow: 0 0 20px 20px #ccc;
    padding: 30px 0;
    /* background-color: #000; */
}

.inner-app {
    margin: 0 100px;
}

.app-top p {
    font-size: 38px;
    font-weight: 700;
}

.app-image img {
    height: 300px;
    margin: 30px 20px 0;
}

.samsung-image {
    transform: rotate(-20deg);
}

.iphone-image {
    transform: rotate(20deg);
}

.app-btns {
    margin-top: 40px;
}

.app-btns img {
    width: 160px;
    margin: 10px 10px;
}


/* end app section*/


/* footer */

footer a {
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    display: block;
}

footer a:hover {
    color: #fff;
    padding-left: 14px;
    transition: .2s;
    font-size: 15px;
    font-weight: 400;
}

footer {
    background: #0084d1;
    color: #fff;
}

footer i {
    padding-right: 10px;
}

.footer-col h3 {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 600;
}

.inner-footer {
    margin: 80px 80px 0;
}

.footer-col {
    width: 33.33%;
    padding: 20px;
}

.footer-about {
    padding-right: 70px;
}

.footer-about p {
    font-size: 15px;
}

.credits {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

.credits p {
    margin-bottom: 0;
    padding-bottom: 10px;
}


/* end footer */


/* resposive */

@media screen and (max-width: 1100px) {
    /* navbar */
    .logo {
        font-size: 40px;
    }
    .navbar-menu a {
        margin-left: 20px;
    }
}

@media screen and (max-width: 980px) {
    /* navbar */
    .inner-width {
        margin: 0 20px;
        padding: 0 20px;
    }
    .menu-toggler {
        display: block;
        z-index: 999;
    }
    .logo {
        font-size: 30px;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 70%;
        background-color: #0084d1;
        top: 0;
        right: -100%;
        padding: 90px 20px;
        transition: .3s linear;
        z-index: 998;
    }
    .sticky .navbar-menu {
        background-color: #05cc80;
    }
    .navbar-menu a {
        color: #fff;
        display: block;
        font-size: 20px;
        margin: 30px 0;
    }
    .navbar-menu a:hover {
        border: none;
    }
    .navbar-menu.active {
        right: 0;
    }
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    /* end navbar */
    /* content */
    .content {
        margin: 0px 20px;
        padding-top: 100px;
    }
    /* search */
    .align-items-center {
        width: 100%;
    }
    .search-col {
        width: 85%;
        padding: 0;
    }
    .search-btn-col {
        width: 15%;
        padding: 0;
    }
    /* end search */
    /* kitchen */
    .kitchen {
        margin: 100px 40px;
    }
    .kitchen-top p {
        font-size: 25px;
    }
    .swiper-slide {
        box-shadow: 0 0 0 0;
    }
    .slider-name {
        font-size: 24px;
        font-weight: 800;
    }
    .slider-price {
        font-size: 15px;
        font-weight: 600;
    }
    .cart {
        padding-bottom: 10px;
        font-size: 14px;
    }
    /* end kitchen */
    /* types of food */
    .types {
        margin: 40px;
    }
    .types-col {
        width: 100%;
        padding: 10px;
    }
    /* end types of food */
    /* app section */
    .inner-app {
        margin: 0 40px;
    }
    .app-top p {
        font-size: 25px;
    }
    .app-image img {
        height: 250px;
        margin: 30px 20px 0;
    }
    .app-btns a {
        display: block;
    }
    /* end app section */
    /* footer */
    .footer-col {
        width: 100%;
    }
    .inner-footer {
        margin: 40px 30px 0;
    }
    .footer-col h3 {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    /* end footer */
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar-nav {
        padding-left: 40px;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}